:root {
  --white: #ffffff;
  --black: #171717;
  --left-sidebar-width: 5vw;
  --left-sidebar-width-expanded: 25vw;
}


html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  color: var(--black);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content{
  margin-left: var(--left-sidebar-width);
  padding: 0px 10px;
  height: 100vh;
  overflow-y: hidden;
}

.main-container{
  display: grid;
  grid-template-rows:80px 1fr;
  grid-template-columns: 400px 1fr;

}
.title-container{
  grid-column: 1 / 3;
  border-bottom: 1px solid var(--black);
  display: grid;
  align-items: center;
  padding: 0px 20px;
}
.title-container > span{
  font-size: 36px;
  font-weight: bold;

}
.save-status{
  position:absolute;
  right: 10px;
  top: 60px;
}
.main{
  display: grid;
  padding: 0px 20px;
  grid-template-rows: 80px 60px 1fr;
}
.detail{
  background-color: var(--black);
  display:none;
  padding: 10px;

}
.detail textarea{
  font-size: 18px;
  margin: 0px;
  -webkit-box-shadow: none; 
  box-shadow: none; 
  border-color: transparent;
  resize: none;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  color: var(--white);
}
.task-count{
  font-size: 8px;
  color:#333;
}
.new-task-container{
  position: relative;
  width: 100%;
  max-width: 600px;
}
.new-task{
  width: 100%;
  padding: 0px 120px 12px 0px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #aaa;
  outline: none;
}
.new-task:not(:placeholder-shown) + .guide-text {
  display: block;
}
.guide-text {
  position: absolute;
  top: calc(50% - 10px);
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #888;
  display: none;
  border: 1px dotted #aaa;
}
.new-task::placeholder{
  color: #aaa;
  font-style: italic;
}
.new-task:focus{
  border-bottom: 1px solid var(--black);
}


.task-container{
  max-width: 600px;
  display: grid;
  grid-auto-rows: 60px;
  gap: 4px;
  overflow-y: auto;
  height: calc(100vh - 80px - (80px + 60px));
}
.task{
  cursor: pointer;
  display: grid;
  grid-template-columns: 40px 1fr 80px;
  background-color: var(--white);
  align-items: center;
}
.task > span:first-child{
  padding-left: 20px;
}
.task-selected{
  background-color: #EEE;
  border-left: 6px solid var(--black);  
  grid-template-columns: 34px 1fr 80px;;
}
.task-selected > span:first-child{
  padding-left: 14px;
}
.task-content{
  color: #999;
}
.task-selected .task-content{
  color: var(--black);
}

.content-memo{
  background-color: var(--black);
  height: 100%;
  width: 50%;
}

.left-sidebar{
  z-index: 999;
  width: var(--left-sidebar-width);
  background-color: black;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 500ms ease;
  display: grid;
  grid-template-rows: 80px 1fr 120px;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.left-sidebar > div{
  display:grid;
  justify-content: center;
  
}
.left-sidebar:hover{
  width: var(--left-sidebar-width-expanded);
  transition: all 500ms ease;  
}

.project{
  cursor: pointer;
  width:100%;
  padding: 0px calc((var(--left-sidebar-width) - 20px)/2);
}
.project-icon, .project-name{
  display: inline-block;
}
.project-icon svg g{
  stroke: var(--white);
}
.project-icon svg *[fill='#fff']{
  fill: var(--black);
}
.project-icon svg *[fill='#d1d3d4']{
  fill: var(--white);
}
.project-icon svg *[stroke='#231f20']{
  stroke: var(--white);
}

.project-container{
  height: 100%;
  overflow-y: auto;
  grid-auto-rows: 40px;
  grid-template-columns: 1fr;
}
.project-container::-webkit-scrollbar {
  display: none;
}

.left-sidebar .project-name{
  width: 0px;
  overflow: hidden;  
  text-overflow: ellipsis;
  white-space: nowrap;  
  transition-duration: 500ms;
}
.left-sidebar:hover .project-name{
  padding-left: 10px;
    width: calc(var(--left-sidebar-width-expanded) - var(--left-sidebar-width));
}

.left-sidebar-footer{
  border-top: 1px solid #333;
  margin: 0px 10px;
  padding-top: 10px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.new-project{
  cursor: pointer;
  width:100%;
  padding: 0px calc((var(--left-sidebar-width) - 40px)/2);
}
.new-project > div{
  display: inline-block;
}

.left-sidebar .new-project-label{
  width: 0px;
  overflow: hidden;  
  text-overflow: ellipsis;
  white-space: nowrap;  
  transition-duration: 500ms;
}
.left-sidebar:hover .new-project-label{
  padding-left: 10px;
  width: calc(var(--left-sidebar-width-expanded) - var(--left-sidebar-width) - 20px);
}

.new-project-icon svg g{
  stroke: var(--white);
}
